@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');


:root {
    --primary-color: #14B8A6;
}

body {
    background-image: url("images/background.jpg");
    background-repeat: repeat;
    font-family: 'Noto Serif', serif;
}





.link-first {
    padding: 1rem;
    display: inline-block;
    width: 85px;
    height: 85px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid black;
    text-decoration: none;
    padding-top: 1.8rem;
    background-color: var(--primary-color);
    color: white;
}

.left-top:hover{
    box-shadow: -5px -5px 5px black;
}

.left-bottom:hover{
    box-shadow: -5px 5px 5px black;
}

.right-top:hover{
    box-shadow: 5px -5px 5px black;
    
}

.right-bottom:hover{
    box-shadow: 5px 5px 5px black;
}



.foremost-layer {
    display: block;
    margin: auto;
    text-align: center;
}


.container {
    text-align: center;
    margin: auto;
}

.hero-heading {
    color: white;
    text-align: center;
}

.hero-image {
    height: 280px;
    width: auto;

}

.container-angles-input {
    text-align: center;
    display: block;


}

.angles-input-heading {
    display: inline-block;
    color: black;
    margin-right: 10px;
    font-size: x-large;
}

.btn-check {
    margin: auto;
    text-align: center;
    padding: 5px;
    width: 120px;
    border-radius: 5px;
    font-family: 'Noto Serif', serif;
    color: var(--primary-color);
    font-weight: bolder;
    font-size: 14pt;
    margin-left: 2.5rem;
    margin-top: 1rem;

}

.btn-check:hover {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 3px black;
}

.output-angles {
    text-align: center;
    color: white;


}

.input-angles {
    font-family: 'Noto Serif', serif;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 5px black;
}

.hero-heading-hypo {
    color: black;
    text-align: center;
}

.area-sections{
    min-height: 100vh;
}

.link-list{
    list-style: none;
    text-align: center;
}

.link-list li{
    margin:auto;
    margin-top: 45px;
    padding: 10px;
    background-color: #4B5563;
    width: 250px;
    text-align: center;
    border: 1px solid black;

}
.link-list li:hover, .link-list li a:hover{
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

.link-list li a{
    text-decoration: none;
    color: white;
}

.quiz-list{
    text-align: center;
    margin:auto;
    list-style: none;
}

.quiz-item{
    text-align: justify;
    padding:5px;
    padding-top: 2px;
    width: 50%;
    margin:auto;
    margin-top: 2rem;
    background-color: #F3F4F6;
    color:var(--primary-color);
    opacity: 95%;

}

.quiz-item input:hover{
cursor: pointer;
}


.header{
    min-width: max-content;
    height: 100px;
    background-color:#22D3EE;
    border-radius: 50px;
    padding: 20px;
    margin-top: -8px;
    margin-left: -8px;
    box-shadow: 5px 5px 5px black;
    opacity: 90%;
}

.header h2{
    text-align: left;
}

.header-link{
    text-decoration: none;
    color:white;
    text-align: right;
    float: right;
    margin: 1rem;
    margin-bottom: 15;
    font-size: large;

}

.highlight{
    color: black;

}

.refer-links{
    height: 50px;
    width: 75px;
}

  aside{
    width: min-content; 
    height:fit-content; 
    background: #22D3EE;
     float:left;
     display: block;
     margin:auto;
  margin-top: 40vh;
  margin-left: -10px;
  opacity: 80%;
  }

  .linkedIN{
      width: 75px;
      height:60px;
  }

  .index-section{
   margin-right: 6rem;
  }