@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');


:root{
    --primary-color: #14B8A6;
}

body{
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    font-family: 'Noto Serif', serif;
}




.link-first{
    padding:1rem;
    display: inline-block;
    width: 85px;
    height: 85px;
    margin:auto;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid black;
    text-decoration: none;
    padding-top: 1.2rem;
    background-color: var(--primary-color);
    color: white;
}

.foremost-layer{
display: block;
margin:auto;
text-align: center;
}

.container{
    text-align: center;
    margin: auto;
}
.hero-heading{
    color:white;
    text-align: center;
}

.hero-image{
    height: 280px;
    width: auto;

}
